
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* drak 02  */
.text-gray{
    color: 
    #424242;
}
/* drak 03 */
.text-light-gray{
    color: #727272;

}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* header   styles */

/* navbar related styles */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
   font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width:850px;
    margin: 0 auto;
    text-align: center;
     margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-family: 4re;
   
}
.banner-img{
    width: 100%;
    
}
/* teams */
.teams{
    align-items: center;
}
.our-feature{
    margin-left: 130px;
    max-width: 537px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);;
    gap: 24px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700 ;
}

#quick-list{
    font-weight: 500;
}
/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
}